version: '3.8'

services:
  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=UTC
      - WEBUI_PORT=8085
    ports:
      - "8085:8085"
      - "6881:6881"
      - "6881:6881/udp"
    volumes:
      - /opt/qbittorrent/config:/config
      - /opt/media/downloads:/downloads
