version: '3.8'

services:
  lidarr:
    image: lscr.io/linuxserver/lidarr:latest
    container_name: lidarr
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=UTC
    ports:
      - "8686:8686"
    volumes:
      - /opt/lidarr/config:/config
      - /opt/media:/data
