version: '3.8'

services:
  grafana:
    image: grafana/grafana-oss:latest
    container_name: grafana
    restart: unless-stopped
    ports:
      - "3001:3000"
    volumes:
      - /opt/grafana/data:/var/lib/grafana
    environment:
      - TZ=UTC
