version: '3.8'

services:
  minecraft-server:
    image: itzg/minecraft-server:latest
    container_name: minecraft-server
    restart: unless-stopped
    ports:
      - "25565:25565"
    environment:
      - EULA=TRUE
      - VERSION=1.21.11
      - DIFFICULTY=normal
      - SPAWN_MONSTERS=false
      - VIEW_DISTANCE=12
      - TYPE=PAPER
    volumes:
      - minecraft_data:/data

volumes:
  minecraft_data:
