version: '3.8'

services:
  nzbget:
    image: lscr.io/linuxserver/nzbget:latest
    container_name: nzbget
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=UTC
    ports:
      - "6789:6789"
    volumes:
      - /opt/nzbget/config:/config
      - /opt/media/downloads:/downloads
