version: '3.8'

services:
  bazarr:
    image: lscr.io/linuxserver/bazarr:latest
    container_name: bazarr
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=UTC
    ports:
      - "6767:6767"
    volumes:
      - /opt/bazarr/config:/config
      - /opt/media:/data
